@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: #171717;
  --color-background-2: #2c2c2c;
  --color-background-3: #252525;
  --color-foreground: #fff;
}

:root {
  --background: #171717;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-sans), Arial, Helvetica, sans-serif;
}

.no-scroll {
  overflow: hidden;
}
