@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #171717;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-sans), Arial, Helvetica, sans-serif;
}